In [1]:
import os
import pandas as pd
#from utilities import process_columns,columnNames as clm
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
os.listdir()

['.ipynb_checkpoints', 'fin.csv', 'preprocessing.ipynb']

In [4]:
df=pd.read_csv('fin.csv',encoding='latin1')

In [5]:
df.head()

                                             Summary     Assignment group
0                   Request to provide access in RSA        INFRA_NETWORK
1                            Hardware Update Request  INFRA_EUC_ASSETMGMT
2  Workflow DB - User Access Request - Colleen Ta...            INFRA_DBA
3  Grant access to Talend service account svc_dat...         INFRA_WINTEL
4         Search documents & Outlook for Mark Denyer      INFRA_MESSAGING

In [6]:
#getting numbers of rows and columns
nr,nc=df.shape
nr,nc

(104895, 2)

In [9]:
check_if_str=lambda entry: type(entry)== str

In [11]:
df=df.drop_duplicates(subset='Summary',keep='first')

In [12]:
df.head()

                                             Summary     Assignment group
0                   Request to provide access in RSA        INFRA_NETWORK
1                            Hardware Update Request  INFRA_EUC_ASSETMGMT
2  Workflow DB - User Access Request - Colleen Ta...            INFRA_DBA
3  Grant access to Talend service account svc_dat...         INFRA_WINTEL
4         Search documents & Outlook for Mark Denyer      INFRA_MESSAGING

In [13]:
df.shape

(101870, 2)

In [3]:
df.to_csv('processed_inciden_18months.csv',index=False)

NameError: name 'df' is not defined